@model OnlineKhataApp.Models.DailyCashFlow

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DailyCashFlow</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DailyShopCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DailyShopCost)
                @Html.ValidationMessageFor(model => model.DailyShopCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BariKhoroch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BariKhoroch)
                @Html.ValidationMessageFor(model => model.BariKhoroch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransportLabourCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransportLabourCost)
                @Html.ValidationMessageFor(model => model.TransportLabourCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyPayment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyPayment)
                @Html.ValidationMessageFor(model => model.CompanyPayment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicLoanBankPayment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublicLoanBankPayment)
                @Html.ValidationMessageFor(model => model.PublicLoanBankPayment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicCashIn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublicCashIn)
                @Html.ValidationMessageFor(model => model.PublicCashIn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DailySells, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DailySells)
                @Html.ValidationMessageFor(model => model.DailySells)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
